.firstSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstElement {
    max-width: 35vw;
    margin-right: 5vw;
}

.firstElement div {
    display: flex;
    width: 25vh;
    justify-content: space-around;
}

.firstElement h1 {
    font-size: 5vw;
    font-weight: bold; /* Aumenta el grosor del texto */
    margin: 0;
}

.heroImg {
    position: relative;
    background-size: cover;
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.5);
    height: 40vh;
    max-height: 45vw;
    aspect-ratio: 1;
    overflow: hidden;
    transition: all 3s ease-in-out;
    /* width: 50vh; */
}

.heroImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linkedin_icon {
    transition: all 1s ease; /* Transición de color suave */
  }
  
.linkedin_icon:hover {
  transform: scale(1.1); /* Color azul cuando el mouse está encima */
}

.firstElement h2 {
    font-size: 1.5vw;
    font-weight: 10;
    color: rgba(255,255,255,0.5);
    /* font-weight: bold; Aumenta el grosor del texto */
    margin-top: 5vh;
}


@media (max-width: 500px) {
    .firstSection {
        flex-direction: column-reverse;
        justify-content: space-around;
        /* background-color: red; */
    }

    .heroImg {
        max-height: 65vh;
        height: 50vw;
    }

    .firstElement {
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        max-width: 60vw;
        margin-right: 0vw;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        /* background-color: red; */
        min-height: 20vh;
    }

    .firstElement div {
        display: flex;
        /* width: 25vh; */
        /* height: 3vh; */
        margin-top: 2vh;
        overflow: hidden;
        justify-content: space-around;
        /* align-self: center; */
        /* justify-self: center; */
        /* background-color: green; */
    }
}