
.imagesContainer {
    position: relative;
    display: flex;
    justify-content: 'center';
    /* height: 650px; */
    /* width: 70%;  */
    height: 80vh;
    /* max-height: 1.5*100vw; */
    max-width: 100vw;
    aspect-ratio: 1.5;   
    margin: 0 auto;
    margin-top: 3vh;
    /* background-color: red; */
}

.linkStyles {
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

/* .linkStyles :hover {
    transform: scale(1.1);
} */

.imagesContainer div {
    position: absolute;
    border-radius: 50px;
    width: 100%;
    align-self: center;
    transition: width 0.45s ease, height 0.45s ease; /* Transición suave para el cambio de tamaño */
    overflow: hidden;
    /* transition: transform 0.45s ease; */
}

/* .imagesContainer div:hover {
    transform: scale(1.1);
} */

.imageSelected {
    height:100%;
}

.imageSelected:hover {
    height:103%;
}

.imageNotSelected {
    height:70%;
}

.imageNotSelected:hover {
    height:73%;
}

.imagesContainer div img {
    display: block;
    width: 100%;
    min-height: 100%;
}

.imagesContainer div div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagesContainer div div h1 {
    font-size: 4vw;
    font-weight: bold; /* Aumenta el grosor del texto */
    text-shadow: 
    -2px -2px 0 #000, /* Sombra superior izquierda */
    2px -2px 0 #000,  /* Sombra superior derecha */
    -2px 2px 0 #000,  /* Sombra inferior izquierda */
    2px 2px 0 #000;   /* Sombra inferior derecha */
    opacity: 0.4;
}

@media (max-width: 500px) {
    .imagesContainer {
        height: auto;
        width: 80vw;
    }
}

