
.title{
    color: black;
    font-size: 40px;
}

.giantBox {
    position: relative;
    min-height: 90vh;
    overflow-x: hidden;
}

.backGround{
    /* background-color: #2A2A2A; */
}

.welcomeMessage {
    text-align: center;
    /* margin-top: 5vh; */
    /* margin-bottom: 5vh; */
}


.row {
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 5vw; */
    background-color: rgba(25,25,25,0.6);
    padding-top: 40px;
    padding-bottom: 40px;
    flex-wrap: wrap;
}

.about {
    height: 15vh;
}

.section {
    min-height: 85vh;
}

.firstSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondSection {
    /* background-color: red; */
}

.techStack {
    display: flex;
    /* background-color: grey; */
    height: 15vh;
    /* justify-content: space-between; */
    align-items: flex-end;
    /* overflow: hidden; */
    /* justify-content: flex-start; */
}

.techStack div {
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

.techStack div h1 {
    font-size: 1.5vw;
    font-weight: normal;
    white-space: nowrap;
}

.heroImg {
    border-color: rgb(58, 62, 65);
    background-image: url(src/images/Profile.png);
    /* animation: morph 8s ease-in-out infinite; */
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid rgba(255,255,255,0.5);
    /* border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; */
    height: 40vh;
    max-height: 45vw;
    aspect-ratio: 1;
    position: relative;
    transition: all 3s ease-in-out;
    /* width: 50vh; */
}

.firstElement {
    /* background-color: red; */
    /* text-align: justify; */
    max-width: 35vw;
    margin-right: 5vw;
}

.firstElement div {
    display: flex;
    width: 25vh;
    justify-content: space-around;
}

.firstElement h1 {
    font-size: 5vw;
    font-weight: bold; /* Aumenta el grosor del texto */
    margin: 0;
}

.linkedin_icon {
    /* color: white; Color predeterminado */
    transition: all 1s ease; /* Transición de color suave */
  }
  
.linkedin_icon:hover {
  transform: scale(1.1); /* Color azul cuando el mouse está encima */
}

.firstElement h2 {
    font-size: 1.5vw;
    font-weight: 10;
    color: rgba(255,255,255,0.5);
    /* font-weight: bold; Aumenta el grosor del texto */
    margin-top: 5vh;
}

@media (max-width: 500px) {
    /* .row {
        position: absolute;
        bottom: 0;
    } */

    .giantBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .welcomeMessage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: red; */
        flex: 1;
        font-size:calc(12px + 1.5vw);
        /* font-size: 40px; */
        /* padding-bottom: 5%; */

    }

    .carouselContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        flex: 35;
        /* background-color: green; */
    }
}