
.title{
    /* color: black; */
    color: rgb(171, 171, 239);
    font-weight: bold;
    /* -webkit-text-stroke: 0.2px #000; Grosor y color del borde (Webkit/Blink) */
    /* text-stroke: 2px #000; Grosor y color del borde (estándar) */
    text-shadow: 
    -2px -2px 0 rgb(0,0,0,0.5), /* Sombra superior izquierda */
     2px -2px 0 rgb(0,0,0,0.5), /* Sombra superior derecha */
    -2px  2px 0 rgb(0,0,0,0.5), /* Sombra inferior izquierda */
     2px  2px 0 rgb(0,0,0,0.5); /* Sombra inferior derecha */
     font-size: 2vw;
    }
    
.textJustified {
    /* justify-self:left; */
    align-self: first baseline;
    /* text-indent: 0.5em; */
}

.subtitle{
    font-size: 2.3vw;
    /* text-indent: 0.5em; */
    color: rgb(255, 255, 255, 1);
    font-weight: bold;
}

.description{
    text-indent: 1em;
    font-size: 1.7vw;
    color: rgb(255, 255, 255, 0.85);
}

.marginBottom {
    margin-bottom: 2vh;
}

.marginVertical {
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.marginTop {
    margin-top: 2vh;
}

.marginHorizontal {
    margin-right: 5%;
    margin-left: 5%;
}

.giantBox {
    position: relative;
    min-height: 90vh;
    overflow-x: hidden;
}

.welcomeMessage {
    text-align: center;
}


.row {
    display: flex;
    justify-content: space-around;
    background-color: rgba(25,25,25,0.6);
    padding-top: 40px;
    padding-bottom: 40px;
    flex-wrap: wrap;
}

.about {
    height: 15vh;
}

.section {
    min-height: 85vh;
}

.firstSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondSection {
    /* background-color: red; */
}


.heroImg {
    position: relative;
    background-size: cover;
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.5);
    height: 40vh;
    max-height: 45vw;
    aspect-ratio: 1;
    overflow: hidden;
    transition: all 3s ease-in-out;
    /* width: 50vh; */
}

.heroImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.firstElement {
    /* background-color: red; */
    /* text-align: justify; */
    max-width: 35vw;
    margin-right: 5vw;
}

.firstElement div {
    display: flex;
    width: 25vh;
    justify-content: space-around;
}

.firstElement h1 {
    font-size: 5vw;
    font-weight: bold; /* Aumenta el grosor del texto */
    margin: 0;
}

.linkedin_icon {
    /* color: white; Color predeterminado */
    transition: all 1s ease; /* Transición de color suave */
  }
  
.linkedin_icon:hover {
  transform: scale(1.1); /* Color azul cuando el mouse está encima */
}

.firstElement h2 {
    font-size: 1.5vw;
    font-weight: 10;
    color: rgba(255,255,255,0.5);
    /* font-weight: bold; Aumenta el grosor del texto */
    margin-top: 5vh;
}

.techStack {
    display: flex;
    /* background-color: grey; */
    height: 15vh;
    /* justify-content: space-between; */
    align-items: flex-end;
    /* overflow: hidden; */
    /* justify-content: flex-start; */
}

.techStack div {
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

.techStack div h1 {
    font-size: 1.5vw;
    font-weight: normal;
    white-space: nowrap;
}

.aboutBox {
    display: flex;
    height: 70vh;
    /* background-color: green; */
}

.middleBox {
    position: relative;
    width: 50vw;
    height: 100%;
    /* background-color: red; */
}

.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desktopContainer {
    /* background-color: red; */
    background-image: url(../../images/desktop.png);
    background-position: 0%;
    background-size: cover;
    width: 80%;
    height: 80%;
    border-radius: 50px
}
.rotating_vector {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50% 50% 50% 50%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(42,42,42,0.96);
    animation: rotate 10s linear infinite; /* Aquí estamos aplicando la animación */
  }

.comandLineIcon {
  position: absolute;
  transform-origin: center; /* Establecemos el punto de origen de la transformación en el centro */
  animation: rotateLeft 10s linear infinite; /* Animación para contrarrestar la rotación del contenedor */
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}

.portfolio {
    /* margin: 2.5vw; */
    padding: 2.5vw;
}

.textIndent {
    text-indent: 2.5vw;
}

.firstBoxContact {
    min-height: 55vh;
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: red; */
    /* border-radius: 50%; */
}

.secondBoxContact {
    min-height: 30vh;
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aditionalInformation {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* justify-content: space-around; */
    /* background-color: red; */
}

.copyrightMessage {
    color: rgb(255, 255, 255, 0.5);
    font-size: 1.5vw;
}

.anotherLink {
    margin-right: 2vw;
    transition: all 1s ease;
}

.anotherLink:hover {
    filter: drop-shadow(0px 0px 5px rgba(255,255,255,0.5));
    transform: scale(0.9);
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg); /* Inicialmente, sin rotación */
  }
  100% {
    transform: rotate(-360deg); /* Rotación completa en sentido horario (una vuelta completa) */
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Inicialmente, sin rotación */
  }
  100% {
    transform: rotate(360deg); /* Rotación completa en sentido horario (una vuelta completa) */
  }
}
@media (max-width: 500px) {
    /* .row {
        position: absolute;
        bottom: 0;
    } */

    .giantBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .welcomeMessage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: red; */
        flex: 1;
        font-size:calc(12px + 1.5vw);
        /* font-size: 40px; */
        /* padding-bottom: 5%; */

    }

    .carouselContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        flex: 35;
        /* background-color: green; */
    }
}