

.title{
    color: black;
    font-size: 40px;
}

.giantBox {
    position: relative;
    min-height: 90vh;
    overflow-x: hidden;
}

.backGround{
    /* background-color: #2A2A2A; */
}

.welcomeMessage {
    text-align: center;
    /* margin-top: 5vh; */
    /* margin-bottom: 5vh; */
}


.row {
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 5vw; */
    background-color: rgba(25,25,25,0.6);
    padding-top: 40px;
    padding-bottom: 40px;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    /* .row {
        position: absolute;
        bottom: 0;
    } */

    .giantBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .welcomeMessage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: red; */
        flex: 1;
        font-size:calc(12px + 1.5vw);
        /* font-size: 40px; */
        /* padding-bottom: 5%; */

    }

    .carouselContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        flex: 35;
        /* background-color: green; */
    }
}